form{
    width: 100%;
    margin: 0 auto;
}
form *{
    display: block;
    width: 100%;
}
input, button{
    display: block;
    width: calc(100% - 30px);
    margin: 25px auto;
    padding: 15px;
}
button{
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: sans-serif;
}
button#log{
    color: white;
    background-color: chocolate;
}
button#sign{
    background-color: sandybrown;
    color: white;
}