*{
    font-family: sans-serif;
    margin: 0;
}

header > h1, footer > p{
    text-align: center;
    color: white;
}
header, footer{ padding: 20px; }
header{ background-color: green; }
footer{ background-color: black; }

nav{ background-color: red; }
nav > ul{ list-style-type: none; }
nav a{
    display: block;
    padding: 10px;
    color: white;
}

div#content{ min-height: 90vh; }
div#rects{ padding: 20px; }
div#without, div#with{
    position: relative;
    margin: 10px;
    border: 5px solid black;
    width: 300px;
    height: 300px;
}
div#with{ overflow: hidden; }
div#without > div, div#with > div{
    position: absolute;
    top: 50px;
    left: 200px;
    width: 200px;
    height: 200px;
    background-color: red;
}

@media (max-width: 1000px){
    ul{
        display: flex;
        flex-wrap: wrap;
    }
}
@media (min-width: 1000px){
    div#content{
        max-width: 1500px;
        margin: 0 auto;
        display: flex;
        border: 1px solid lightgray;
        align-items: stretch;
    }
}